/* h1{
    color:rgb(173, 166, 242);
}
p{
    color:bisque;
}
 button{
    color
    :rgb(102, 21, 119);
    background-color: rgb(222, 211, 202);

 }
 body{
background-color: #a0ffdd
 } */
/* *{
    color:pink;
}
h1{
    color:blue;
}
h3{
    color:black;
}
p{
    color:mediumvioletred;
} */
/* #head{
    color:brown;
}



button{
    color:red;
} */
/* #box{
    background-color: blue;
} */
/* .heading{
    color:red;
} */

button{
    background-color: green;
}







